@mixin Svg($color: #000, $width: 1.875em, $height: 1.875em, $margin: 0) {
    & svg {
        width: $width;
        height: $height;
        margin: $margin;

        & path, circle {
            fill: $color;
        }
    }
}
