<header>

    <article class='header__top-bar'>
        <section class='header__contact'>
            <p class='header__contact-item'>Atendimento ao cliente:
                <vtex.cmc:LucasXavierINFOPhone />
            </p>
        </section>

        <section>
            <i class="fas fa-bars"></i>
            <a href="#" class='header__my-requests'>Meus <b>Pedidos</b></a>
        </section>
    </article>

    <article class='header__center'>
        <img src="/arquivos/lucas-xavier-logo-eplus.png" alt="logo e-plus">
    </article>


</header>